body {
	background-color: rgb(20, 17, 9);
	color: rgb(228, 141, 27);
}

.page {

  position: relative;
  width: 90%;
}

.image {
  display: block;
  width: 95%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
	filter: blur(8px);
}

.page:hover .overlay {
  opacity: 1;
}

.roboto {
  color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
  background-color: #6d7c7c;
}

.head { 
	width: 17em; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
}

.head:hover {
	width: 70%;
  transition: 1s ease-in-out;
}

.eyes {
	display: flex;
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: gold;  
} 

.left_eye { 
	position: relative; 
	top: 100px; 
	left: 50px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	margin: auto;
	display: flex;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.right_leg { 
	margin-left: 30px; 
}




